/* ==========================================================================
   BUTTON
========================================================================== */

.button {
    $button-padding: 20px;

    display: inline-block;
    font-weight: $font-weight-medium;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    // TODO: recheck later to use $spacing-* variable
    padding: $button-padding $spacing-lg;
    font-size: $font-size-base;
    line-height: $line-height-base;
    border-radius: 0;
    @include transition(all);
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:disabled,
    &--disabled {
        opacity: 0.65;
        pointer-events: none;
    }

    /* Button Variants */
    &--primary {
        color: $color-extra-light;
        background-color: $color-primary;
        border-color: $color-primary;

        &:hover,
        &:focus {
            background-color: rgba($color-black, 0.7);
            border-color: transparent;
        }

        &:disabled {
            color: $color-medium-dark;
            background-color: rgba($color-black, 0.1);
            border-color: transparent;
        }
    }

    &--secondary {
        color: $color-extra-dark;
        background-color: transparent;
        border-color: $color-dark-rule;

        &:hover,
        &:focus {
            background-color: transparent;
            border-color: $color-extra-dark;
        }

        &:disabled {
            color: $color-medium-dark;
            background-color: transparent;
            border-color: $color-dark-rule;
        }
    }

    &--micro {
        font-size: $font-size-xs;
        text-transform: uppercase;
        background-color: transparent;
        border-color: transparent;
        letter-spacing: 0.2em; // TODO: 20% in figma

        &:hover,
        &:focus {
            background-color: $color-medium-light;
            border-color: transparent;
        }

        &:disabled {
            color: $color-medium-dark;
            background-color: transparent;
            border-color: transparent;
        }
    }

    &--inline {
        padding: 0;
        border: none;
        background-color: transparent;
        color: $color-extra-dark;

        &:hover,
        &:focus {
            color: $color-extra-dark;
            // background-color: transparent;
            // border-color: transparent;
        }

        &:disabled {
            color: $color-medium-dark;
            // background-color: transparent;
            // border-color: transparent;
        }
    }

    // TODO: recheck, ask for the states in figma
    &--icon {
        padding: 0;
        border: none;
        background-color: transparent;
    }

    // TODO: Disable for now
    // &--outline {
    //     color: $color-primary;
    //     background-color: transparent;
    //     border-color: $color-primary;

    //     &:hover,
    //     &:focus {
    //         color: $color-white;
    //         background-color: $color-primary;
    //         border-color: $color-primary;
    //     }
    // }

    // /* Button Sizes */
    // &--sm {
    //     padding: $spacing-xs $spacing-md;
    //     font-size: $font-size-sm;
    //     border-radius: $border-radius-sm;
    // }

    // &--lg {
    //     padding: $spacing-md $spacing-xl;
    //     font-size: $font-size-lg;
    //     border-radius: $border-radius-lg;
    // }

    // /* Button Full Width */
    // &--block {
    //     display: block;
    //     width: 100%;
    // }
}