.ticker-container {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    justify-content: center;
}

.ticker-error {
    padding: 10px;
    background: red;
    color: white;
}

.ticker-button {
    margin: 0 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.ticker-message {
    flex: 1;
    text-align: center;
}
